@import 'mobile';

$primary: rgb(174,203,54);
$primary_soft: rgba(174,203,54, 0.5);
$secondary: rgb(245,245,245);
$secondary_soft: rgba(245,245,245,0.25);



.desktop {
  display: flex;
}
.mobile {
  display: none;
}
@media screen and (max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}


body {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/13/01/36/bagan-1137015_960_720.jpg");
  background-size: cover;
  @media screen and (max-width: 720px) {
    background-image: url("https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
  }
  height: 100vh;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  border: 3px solid grey;
  font-family: 'Kalam', cursive;
    h4 {
    font-size: 16px;
    margin: 0 auto;
    @media screen and (max-width: 720px) {
      font-size: 12px;
    }
    h2 {
      text-align: center;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}


main {
  width: 60%;
  @media screen and (max-width: 720px) {
    width: 100%;
  }
  height: 82vh;
  overflow-y: scroll;
  background-color: $secondary_soft;
  margin: 0 auto;
}


// COMMON STYLINGS
.contains-headerElements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary;
  color: $secondary;
  width: 100%;
  height: 12vh;
  .contanins-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .contains-login_register_profile {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contains-filterLink {
    display: flex;
    justify-content: center;
    width: 25%;
    font-size: 40px;
  }
}

.contains-footerElements {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $secondary;
  width: 100%;
  height: 5vh;
  font-size: 10px;

}

// HOMEPAGE STYLING



.trip-card {
  width: 80%;
  @media screen and (max-width: 720px) {
    width: 95%;
  }
  height: 100%;
  margin: 0 auto;
  background-color: $primary_soft;
  border: 3px solid black;
  margin-top: 10px;
  .contains-title_photo {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 50%;

    .showPhotos {
      overflow-x: scroll;
      height: 70%;
      width: 100%;
      img {
        position: relative;
      }
    }
    .title{
      text-align: center;
      height: 30%;
      width: 100%;
      h1 {
        text-shadow: 1px 0.5px $secondary;
      }
    }
  }
}

.contains-budget_duration {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  .duration, .budget {
    font-size: 20px;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: $primary_soft;
  }
}

.contains-categories {
  width: 100%;
  height: 15%;
  text-align: center;
  text-transform: uppercase;
}

.contains-like_viewTrip {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  .fa-thumbs-up {
    font-size: 50px;
  }
  h4, button, .fa-thumbs-up {
    height: 50%;
    width: 30%;
    text-align: center;
  }
}


  .contains-filterLink {
    margin: 0 auto;
    width: 60%;
    @media screen and (max-width: 720px) {
      width: 90%;
    }
    background-color: $secondary_soft;
    text-align: center;
    .Select-menu-outer{top: auto; bottom: 100%}

    button {
    height: 90%;
    width: 70%;
    @media screen and (max-width: 720px) {
      width: 100%;
      height: 100%;
    }
  }
  }
// LOG IN AND REGISTER FORMS
.contains-authForm {
  display: flex;
  margin: 10% auto;
  height: 70%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .contains-input {
    display: flex;
    width: 60%;
    justify-content: center;
  }
  input {
    font-family: inherit;
    text-align: center;
    padding: 5px;
    width: 80%;
    background-color: $primary_soft;
    border: 1px solid $secondary;
    font-size: 15px;
    @media screen and (max-width: 720px) {
      font-size: 12px;
    }
  }
  h2 {
    text-shadow: 1px 1px $secondary;
    margin: 0;
  }
  button {
    width: 20%;
  }
}


// TRIP FORM STYLING
.contains-tripForm {
  margin: 10px auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  Button {
    width: 20%;
    align-self: center;
  }
  .contains-photoUpload {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25%;
    .contains-uploadedPhoto {
      width: 30%;
      height: 100%;
      border: 0.5px dotted black;
    }
    button {
      display: flex;
      justify-content: space-around;
      width: 15%;
      font-size: 40px;
      border-radius: 5%;
    }
  }

  .contains-description {
    display: flex;
    justify-content: center;
    height: 5%;
    input {
      width: 60%;
      font-size: 15px;
      font-family: inherit;
      border-radius: 2%;
    }
  }
  Select {
    margin-top: 10px;
  }
  h2 {
    color: $primary;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px 1px black;
    text-align: center;
  }

  }
