@import 'mobile';

$primary: rgb(174,203,54);
$primary_soft: rgba(174,203,54, 0.5);
$secondary: rgb(245,245,245);
$secondary_soft: rgba(245,245,245,0.25);



.desktop {
  display: flex;
}
.mobile {
  display: none;
}
@media screen and (max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}


body {
  background-image: url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80");
  background-size: cover;
  @media screen and (max-width: 720px) {
    background-image: url("https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
  }
  height: 100vh;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  border: 3px solid grey;
  font-family: 'Kalam', cursive;
    h4 {
    font-size: 16px;
    margin: 0 auto;
    @media screen and (max-width: 720px) {
      font-size: 12px;
    }
    h2 {
      text-align: center;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}


main {
  width: 60%;
  @media screen and (max-width: 720px) {
    width: 100%;
  }
  height: 82vh;
  overflow-y: scroll;
  background-color: $secondary_soft;
  margin: 0 auto;
}


// COMMON STYLINGS
.contains-headerElements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary;
  color: $secondary;
  width: 100%;
  height: 12vh;
  a {
    font-size: 18px;
  }
  .contanins-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    img {
      padding-top: 5px;
    }
  }
  .contains-login_register_profile {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contains-filterLink {
    display: flex;
    justify-content: center;
    width: 25%;
    font-size: 40px;
  }
}

.popup-content {
  background-color: $primary_soft;
  margin: 0;

  h4 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 18px;
    background-color: $primary_soft;
    margin-top: 3px;
    padding: 3px;
    text-align: center;
    }
  h4:hover {
    background-color: $secondary_soft;
  }
  }



.popupButton {
  font-size: 150%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: $primary;
  color: $secondary;
  text-shadow: .5px .5px black;
}


.contains-footerElements {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $secondary;
  width: 100%;
  height: 5vh;
  font-size: 10px;

}

// HOMEPAGE STYLING



.trip-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  @media screen and (max-width: 720px) {
    width: 95%;
  }
  height: 100%;
  margin: 0 auto;
  background-color: $primary_soft;
  border: 3px solid black;
  margin-top: 10px;
  .contains-title_description {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 20%;
    text-align: center;
      h1 {
        text-shadow: 1px 0.5px $secondary;
        margin: 3px 0 0 0;
        @media screen and (max-width: 720px) {
          font-size: 22px;
        }
      }
      p {
        font-size: 16px;
        margin: 0;
        @media screen and (max-width: 720px) {
          font-size: 14px;
        }
      }
    }
    .showPhotos {
      align-self: center;
      height: 50%;
      width: 70%;
      border-radius: 1%;
      margin-bottom: 5px;
        @media screen and (max-width: 720px) {
          width: 90%;
        }
      }
      .contains-budget_duration {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        width: 100%;
        height: 10%;
        .duration, .budget {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 20px;
          width: 50%;
          height: 100%;
          text-align: center;
          background-color: $secondary_soft;
        }
      }
      .contains-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 15%;
        text-align: center;
        text-transform: uppercase;
        background-color: $primary_soft;
      }
      .contains-like_viewTrip {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 10%;
        width: 100%;
        background-color: $secondary_soft;
        button {
          font-size: 100%;
          font-family: inherit;
          border: 1.5px dashed black;
          padding: 5px;
          background-color: rgba(174,203,54, 0.3);
        }
        button:hover {
          border: 2px solid black;
          cursor: pointer;
        }
      }
      .contains-tripUserDetails {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
        h6 {
          width: 100%;
          text-align: center;
        }
      }
  }









  .contains-filterLink {
    margin: 0 auto;
    width: 60%;
    @media screen and (max-width: 720px) {
      width: 90%;
    }
    background-color: $secondary_soft;
    text-align: center;
    .Select-menu-outer{top: auto; bottom: 100%}

    button {
    height: 90%;
    width: 70%;
    @media screen and (max-width: 720px) {
      width: 100%;
      height: 100%;
    }
  }
  }
// LOG IN AND REGISTER FORMS
.contains-authForm {
  display: flex;
  margin: 10% auto;
  height: 70%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .contains-input {
    display: flex;
    width: 60%;
    justify-content: center;
  }
  input {
    font-family: inherit;
    text-align: center;
    padding: 5px;
    width: 60%;
    background-color: $primary_soft;
    border: 1px solid $secondary;
    font-size: 15px;
    @media screen and (max-width: 720px) {
      font-size: 12px;
      width: 80%;
    }
  }
  h2 {
    text-shadow: 1px 1px $secondary;
    margin: 0;
  }
  button {
    width: 20%;
  }
}


// TRIP FORM STYLING
.contains-tripForm {
  margin: 10px auto;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: 720px) {
    width: 90%;
    }
  Button {
    width: 20%;
    align-self: center;
  }
  .contains-photoUpload {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25%;
    .contains-uploadedPhoto {
      width: 30%;
      height: 100%;
      border: 0.5px dotted black;
    }
    button {
      display: flex;
      justify-content: space-around;
      width: 15%;
      font-size: 40px;
      border-radius: 5%;
    }
  }

  .contains-description {
    display: flex;
    justify-content: center;
    height: 5%;
    input {
      width: 60%;
      font-size: 15px;
      font-family: inherit;
      border-radius: 2%;
    }
  }
  Select {
    margin-top: 10px;
  }
  h2 {
    color: $secondary;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px 1px black;
    text-align: center;
  }
}

// VIEW TRIP
.viewtrip-topThird {
  border: 2px solid black;
  display:flex;
  flex-direction: row;
  margin: 0 auto;
  height: 49%;
  width: 90%;
  .viewtrip-photos {
    width: 75%;
    height: 100%;
  }
  .viewtrip-topRight {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    .viewtrip-hasIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 100%;
      font-size: 50px;
      border: 1px solid black;
      background-color: $primary_soft;
    }
    .viewtrip-likes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 100%;
      border: 1px solid black;
      background-color: $secondary_soft;
    }
  }
}
.viewtrip-midThird {
  border: 2px solid black;
  border-top: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 20%;
  width: 90%;
  .viewtrip-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $primary_soft;
    height: 25%;
    width: 100%;
    h3 {
      margin: 0;
    }
  }
  .viewtrip-destination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary_soft;
    height: 25%;
    width: 100%;
    h2 {
      margin: 0;
      text-transform: uppercase;
    }
  }
  .viewtrip-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary_soft;
    height: 25%;
    width: 100%;
    p {
      margin: 0;
      font-size: 13px;
    }
  }
  .viewtrip-budget_duration {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary_soft;
    height: 25%;
    width: 100%;
  }
}
.viewtrip-bottomThird {
  border: 2px solid black;
  border-top: 0;
  background-color: $primary_soft;
  display:flex;
  flex-direction: row;
  margin: 0 auto;
  height: 29%;
  width: 90%;
  .viewtrip-mapbox {
    height: 100%;
    width: 65%;
  }
  .viewtrip-bottomLeft {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    .contains-tripUserDetails {
      height: 50%;
      text-align: center;
      background-color: $secondary_soft;
      h6 {
        font-size: 12px;
      }
    }
    .viewtrip-hasIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 100%;
      font-size: 50px;
      border: 1px solid black;
      background-color: $primary_soft;
    }
  }
}
