$primary: rgb(174,203,54);
$primary_soft: rgba(174,203,54, 0.5);
$secondary: rgb(245,245,245);

body {
  width: 480px;
  height: 100vh;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  border: 3px solid grey;
  font-family: 'Kalam', cursive;
    h4 {
    font-size: 20px;
  }
}

main {
  width: 480px;
  height: 80vh;
  overflow-y: scroll;
  background-color: $secondary;
}

.trip-card {
  width: 450px;
  height: 80vh;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: $primary_soft;
  border: 1px solid grey;
}

// COMMON STYLINGS
.contains-headerElements {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $secondary;
  width: 100%;
  height: 15vh;

}

.contains-footerElements {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $secondary;
  width: 100%;
  height: 5vh;
  font-size: 10px;

}

// HOMEPAGE STYLING
.contains-title_photo {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 50%;

  .showPhotos {
    overflow-x: scroll;
    height: 70%;
    width: 100%;
    img {
      position: relative;
    }
  }
  .title{
    text-align: center;
    height: 30%;
    width: 100%;
  }
}

.contains-budget_duration {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  .duration, .budget {
    font-size: 20px;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: $primary_soft;
  }
}

.contains-categories {
  width: 100%;
  height: 15%;
  text-align: center;
  text-transform: uppercase;
}

.contains-like_viewTrip {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  .fa-thumbs-up {
    font-size: 50px;
  }
  h4, button, .fa-thumbs-up {
    height: 50%;
    width: 30%;
    text-align: center;
  }
}
